body {
    background-image: url(./assets/images/photo-1574797914072-46cc7da9b5aa.jpeg);
} 

#main{
    background-color: #FED9C0;
    text-align: center;
}

h1 {
    font-size: 50px;
    padding-top: 20px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
 }

 .result{
    background-color: whitesmoke;
    max-width: 100% -40rem;
    
 }

 #clipboard.btn {
     background-color: white;
     
 }

 
 .options {
     font-size: 20px;
 }

 #length {
     margin-top: 5px;
     font-size: 16px;
 }

 h2 {
     text-decoration: underline;
     margin-top: 30px;
     margin-bottom: 5px;
 }

#generate {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
}